Options +FollowSymLinks
DirectoryIndex index.php

RewriteEngine on

#Если URI начинается с api/ то перенаправлять все запросы на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.php [L,QSA]